@typeparam TItem
@implements IListBox

<select multiple @onchange="@OnSelectionChanged">
    @foreach (var item in Items)
    {
        <option value="@Value(item)" selected="@IsItemSelected(item)">@Name(item)</option>
    }
</select>

@code {
    [Parameter]
    public IList<TItem> Items { get; set; }

    [Parameter]
    public Func<TItem, string> Name { get; set; }

    [Parameter]
    public Func<TItem, string> Value { get; set; }

    [Parameter]
    public IList<TItem> SelectedItems { get; set; } = [];

    private void OnSelectionChanged(ChangeEventArgs e)
    {
        SelectedItems.Clear();

        var selectedOptions = (string[]?)e.Value;

        if (selectedOptions is not null)
        {
            foreach (var value in selectedOptions)
            {
                var selectedItem = Items.FirstOrDefault(item => Value(item) == value);
                if (selectedItem is not null)
                {
                    SelectedItems.Add(selectedItem);
                }
            }
        }

        StateHasChanged();
    }

    private bool IsItemSelected(TItem item)
    {
        return SelectedItems.Contains(item);
    }
}